:root {
  --grey-color: #686868;
  --light-grey-color: hsl(0, 0%, 88%);
  --white-color: #fbfbfa;
  --blue-color: #3b40d5;
  --dark-grey-color: #343434;
  --black-color: #1d1d1d;
  --pink-color: #ec90b9;
}

.welcome {
  padding: 4rem 8rem;

  h1 {
    color: var(--dark-grey-color);
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--light-grey-color);
    padding: 2rem 0;
  }

  &__btn {
    display: flex;
    gap: 1rem;
    margin: 2rem 0;

    .btn:hover,
    .btn:active,
    .btn:focus {
      background-color: var(--blue-color);
      color: var(--white-color);
    }
  }
}
